/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3";
 
@import "compass/css3/transform-legacy";
 
.transform-example {
  width: 40px;
  height: 40px;
  background: red;
  margin: 20px;
}
 
#scale {
  @include scale(1);
}
 
#scale:hover {
  @include scale(2);
}
 
#rotate {
  @include rotate(0deg);
}
 
#rotate:hover {
  @include rotate(45deg);
}
 
#translate {
  @include translate(0, 0);
}
 
#translate:hover {
  @include translate(20px, 20px);
}
 
#skew {
  @include skew(0deg, 0deg);
}
 
#skew:hover {
  @include skew(20deg, 20deg);
}
 
#combo {
  @include transform(1, 0deg, 0, 0, 0deg, 0deg);
}
 
#combo:hover {
  @include transform(1, 45deg, 20px, 20px, 20deg, 20deg);
}

@mixin navigate {
        list-style-type:none;
        padding:0;
        margin:0;
        overflow:hidden;
        > li {
                display:block;
                float:left;
                &:last-child{
                margin-right:0px;
                }
        }
}


ul.navbar {
        @include navigate;
}


#container {

        /* Here we define our variables */
        $basetextsize: 12px;
        $container-space: 10px;
        $red: #C0392B;
        $orange:#ffcc00;

        /* Variables are applied */
        font-size: $basetextsize;
        padding: $container-space;
        color : $orange;


        .main {
                width:600px;
                h1 {
                        color: $red;
                }
        }
        .sidebar {
                width: 300px;
                h3 {
                        margin: 0;
                }
        }


}